<strong>Confirmação de email</strong>

<p>Olá! Utilize o link abaixo para confirmar seu seu email e continuar seu cadastro.</p>

<a href="{{ link }}">Confirmar email</a>

<p>Este link expira após 48 horas.</p>

<hr/>

<p>
  <strong>Equipe Visar Emplaca</strong><br/>
  <a href="https://visaremplaca.com.br">visaremplaca.com.br</a><br/>
  contato@visaremplaca.com.br<br/>
  (13) 3222-5442<br/>
  (13) 3223-9102</p>
</p>